NODE_ENV=development
DB_USER=user
DB_PASSWORD=password
DB_USERNAME=user
DB_NAME=db_app
DB_HOST=localhost
DB_PORT=5434

SWAGGER_USER=user
SWAGGER_PASSWORD=passwrod

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

PORT=3000
HOST_API=http://localhost:3000/api


JWT_SECRET=secrethorta593ThatIsSuperSuperSecretForAccess
COOKIE_SECRET=supersecretocookie
JWT_ACCESS_SECRET=secrethorta593ThatIsSuperSuperSecretForAccess
JWT_REFRESH_SECRET=horta593ThatIsSuperSuperSecretForRefresh
ACCESS_EXPIRATION=60s
REFRESH_EXPIRATION=7d
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5434/horta593_db?schema=public"
